@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.ttf");
}

*, ::before, ::after {
	 box-sizing: border-box;
}

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}  


 body {
	 margin: var(--header-height) 0 0 0;
     font-family: "Gilroy";
	 font-size: var(--normal-font-size);
}
 ul {
	 margin: 0;
	 h4: 0;
	 list-style: none;
}
 a {
	 text-decoration: none;
}
 a:hover {
	 text-decoration: none;
}
 img {
	 max-width: 100%;
	 height: auto;
}
 .bd-grid {
	 max-width: 1024px;
	 display: grid;
	 grid-template-columns: 100%;
	 margin-left: 1.5rem;
	 margin-right: 1.5rem;
}
/*===== HEADER =====*/
 .header {
	 width: 100%;
	 height: 112px;
	 opacity: 0.9;
	 position: fixed;
	 top: 0;
	 left: 0;
	 padding: 0 124px;
	 background-color: rgba(241, 92, 47, 1);
	 z-index: 9999;
	 display: flex;
	 justify-content: space-between;
}
 .header__logo {
	 color: var(--white-color);
	 position: relative;
	 top: 0;
}
 .header__toggle {
	 font-size: 1.5rem;
	 color: var(--white-color);
	 cursor: pointer;
}
/*===== NAV =====*/
 .nav__content {
	 height: 100%;
	 grid-template-rows: max-content 1fr max-content;
	 row-gap: 2rem;
}
 .nav__close {
	 position: absolute;
	 right: 1.5rem;
	 font-size: 1.3rem;
	 padding: 0.25rem;
	 background-color: var(--dark-color-alt);
	 border-radius: 50%;
	 cursor: pointer;
}

.nav__perfil {
	position: relative;
	right: 42px;
}
 .nav__perfil::after {
	position: relative;
    content: "";
    height: 112px;
    border: 1px solid #ff6d41;
    left: 9px;
}
 .nav__list {
	 position: relative;
	 top: 43px;
	 right: 17px;
}
 .nav__img {
	 display: flex;
	 justify-content: center;
	 padding-top: 0.25rem;
	 margin-bottom: 0.8rem;
	 overflow: hidden;
	 padding-right: 11px;
}
 .nav__number img {
	 position: relative;
	 top: 10px;
	 padding-right: 9px;
}
 .nav__name {
	 display: block;
	 color: var(--white-color);
}
 .nav__profesion {
	 font-size: var(--small-font-size);
}
 .nav__menu, .nav__number, .nav__social {
	 height: 112px;
	 border-right: 0.5px solid #ff6d41;
}

.nav__menu {
	padding-right: 13px;
}
 .nav__item a {
	 margin: 2.5rem 0;
	 font-size: 17px;
	 font-weight: 500;
	 font-style: normal;
	 line-height: 22.28px;
	 color: rgba(255, 255, 255, 1);
}

.nav__link.active{
   border-top: solid 2px #FFFFFF;
    border-radius: 0px;
    padding: 8px 0px;
}
 .nav__link::hover {
	 text-decoration: none;
}

.header-text{
	margin-bottom: 52px;
}
 .nav__social {
	 padding-right: 10px;
}
 .nav__social-icon img {
	 height: 16px;
	 width: 17px;
	 color: var(--white-color);
	 margin-right: 3px;
	 position: relative;
	 top: 41px;
}

.nav-social {
	position: relative;
	padding-right: 5px;
}

.nav-social a {
	padding: 0px 4px;
}

.nav-soc {
	vertical-align: middle;
    display: flex;
    align-items: center;
}

.nav-soc:after {
	position: relative;
    content: "";
    height: 112px;
    border: 1px solid #ff6d41;
    left: 9px;
}
/*Aparecer menu*/
 .show {
	 left: 0;
}
 .intro .image-layer {
	 height: 100vh;
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 overflow-x: hidden;
}

.intro .content-box {
    display: flex;
    padding: 200px 0px 100px 0px;
    flex-direction: column;
    justify-content: space-between;
}

.footer-p, .footer-icon {
	display: inline-block;
}

.footer-icon .mail-icon {
	position: relative;
    right: 3px;
}

.footer-icon .tel-icon {
	position: relative;
	left: 0px;
}

.p-inner {
	display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
    align-items: center;
    padding-left: 9px;
    bottom: 4px;
}
 


 /* .nav__lang select  {
	 background: transparent;
	 color: white;
	 border:none;
 }

 .nav__lang option {
	 background: rgba(241, 92, 47, 1);
	 color: white;
	 border:none;
 }

 .nav__lang option:hover {
	 color: rgba(241, 92, 47, 1)!important;
	 background: white!important;
	 border:none;
 } */

 .centering {
  width: 300px;
  height: auto;
  margin: 100px auto;
}

.custom-select {
  width: 100%;
  position: relative;
  margin: 20px 0;
  background:transparent;
  border:none;
  right: 19px;
}

.custom-select select {
  display: none;
}

.selected-item {
    top: 10px;
    background: rgba(241, 92, 47, 1);
    padding: 5px 20px;
    color: #fff;
    cursor: pointer;
    z-index: 99;
    position: relative;
}

.selected-item:after {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 20px;
    color: #fff;
    position: absolute;
    right: 0px;
    bottom: 2px;
    transition: 0.5s;
}

.arrowanim.selected-item:after {
  transform: rotate(180deg);
}

.item {
  background: rgba(241, 92, 47, 1);
  padding: 14px 30px;
  color: #fff;
  border-top: 1px solid rgba(241, 92, 47, 1);
  cursor: pointer;
}

.item:hover {
  background: rgba(241, 92, 47, 1);;
}

.all-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
}

.all-items-hide {
  display: none;
}

.sdf {
  border: 1px solid red;
}


/* Banner  */

.intro__header {
	font-size: 40px;
    padding: 15px 0;
    text-align: center;
    color: white;
    background: rgba(222, 96, 63, 0.5);
    margin: 104px auto 50px auto;
    font-weight: 700;
    border-radius: 8px;
    line-height: 1.5;
	letter-spacing: 0.5px;
}

.intro__link {
    padding: 16px 39px;
    width: fit-content;
	font-size: 18px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #F15C2F;
    color: white;
    margin: 0 auto;
    display: block;
	transition: all .35s;
}


.intro__link:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 0 2em white inset, 0 5px 15px rgb(0 0 0 / 10%);
    color: #e64209;
}


/* Tour Section */

/* .tour {
	margin: 80px 0 0 0;
} */

.tour__content {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tour-right {
    text-align: end;
}
.tour__row{
    display: flex;
    justify-content: space-between;
}

.tour, .map, .intro__company, .services__company h1 {
	font-style: normal;
	font-weight: bolder;
	font-size: 26px;
	line-height: 35px;
	align-items: center;
    letter-spacing: 2px;
	color: #2D2522;
	position: relative;
	padding: 20px 0;
}

.visa__company h1 {
	font-style: normal;
	font-weight: bolder;
	font-size: 26px;
	line-height: 35px;
	align-items: center;
    letter-spacing: 2px;
	color: #2D2522;
	position: relative;
	padding: 20px 0;
}

.visa__company h1:after {
    content: '';
    width: 15%;
    border-bottom: solid 3px #F15C2F;
    position: absolute;
    border-radius: 3px;
    left:-3px;
    top: 16px;
    z-index: 1;
}

.tour h1:after {
    content: '';
    width: 30%;
    border-bottom: solid 3px #F15C2F;
    position: absolute;
    border-radius: 3px;
    left: 15px;
    top: -10px;
    z-index: 1;
}


.map h1:after {
    content: '';
    width: 30%;
    border-bottom: solid 3px #F15C2F;
    position: absolute;
	border-radius: 3px;
    left: 12px;
    top: -3px;
    z-index: 1;
}

.intro__company h1:after {
    content: '';
    width: 15%;
    border-bottom: solid 3px #F15C2F;
    position: absolute;
	border-radius: 3px;
    left: 6px;
    top: 120px;
    z-index: 1;
}


.services__company h1:after {
    content: '';
    width: 12%;
    border-bottom: solid 3px #F15C2F;
    position: absolute;
	border-radius: 3px;
    left: 0;
    top: 0;
    z-index: 1;
}

.success__company h1 {
	font-style: normal;
	font-weight: bolder;
	font-size: 26px;
	line-height: 35px;
	align-items: center;
    letter-spacing: 2px;
	color: #2D2522;
	position: relative;
	padding: 20px 0;
}

.success__company h1:after {
    content: '';
    width: 12%;
    border-bottom: solid 3px #F15C2F;
    position: absolute;
	border-radius: 3px;
    left: 0;
    top: 0;
    z-index: 1;
}


.tour__link {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	align-items: center;
	color: #F15C2F;
	letter-spacing: 2px;
}

.tour__package img {
	height: auto;
}

.tour,.tour__main .tour__name {
	padding: 5px 0px 0px 5px;
}
.tour__name a {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 15px;
	align-items: center;
	color: #2D2522;
	letter-spacing: 1px;
}

.tour__location .place {
    position: relative;
    text-align: center;
    align-items: center;
	font-weight: 500;
    bottom: 3px;
	font-size: 12px;
	color: #8D8785;
	line-height: 2px;
	letter-spacing: 1px;
}

.tour__location {
	position: relative;
	left: 3px;
}

.tour__container {
	margin: 30px 0px;
}
.icon {
	width: 9px;
	height: 14px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url('../img/icons/location.png');
}

.icon-skype {
    width: 17px;
    height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url('../img/icons/skype (1) 1.svg');
}

.icon-tel {
    width: 17px;
    height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url('../img/icons/tel-contact.svg');
}

.owl-dots {
	display:inline-block!important;
}

.owl-dots {
    position: relative;
    bottom: 66px;
    left: 117px;
}
.owl-dots button.owl-dot {
  width: 330px;
  height: 1px;
  border-radius: 5px;
  display: inline-block;
  background-color: #8D8785!important;
}
.owl-dots button.owl-dot.active {
  background-color: #F15C2F!important;
  height: 1px;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}

.arrow-icon-left {
    width: 41px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url('../img/icons/thin_long_right.png');
}

.arrow-icon-right {
    width: 41px;
	height: 50px;
	margin-left: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url('../img/icons/thin_long_left.png');
}

.icon-tour-right:before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 25px;
    width: 31px;
    margin: 14px 8px 11px 15px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    bottom: 2px;
    right: 6px;
    color: wheat;
    z-index: 99;
}
.icon-tour-right {
    width: 53px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    bottom: 295px;
    border-radius: 50%;
    left: 16px;
	background-color: rgba(241, 92, 47, 0.7);
}
.icon-tour-left {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    bottom: 295px;
    border-radius: 79%;
    right: 16px;
    background-color: rgba(241, 92, 47, 0.7);
}

.icon-tour-left:before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 25px;
    width: 31px;
    margin: 14px 8px 11px 15px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    bottom: 2px;
    right: 3px;
    color: wheat;
    z-index: 99;
}

.about__tour .owl-nav button {
	background: rgba(241, 92, 47, 0.7)!important;
}

.owl-stage-outer {
	margin-bottom: 45px;
}




/*Map section */

.map {
    padding-top: 26px;
  }
  .map .contact-map iframe {
    height: 300px;
	border-radius: 8px;
  }

  .location-map {
	  padding: 10px 0px 30px 0px;
  }
.map .gm-inset-map, .gmnoprint  {
    display: none!important;
}

 #map::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 92, 47, 1);
    opacity: .1;
}





/* get in touch */
.get_in_touch {
	margin: 100px 0;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

.form-group input {
    position: relative;
    height: 50px;
    padding: 6px 30px;
    width: 100%;
    color: #222222;
    font-size: 16px;
    border-radius: 0px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
	border:none;
	align-items: center;
	padding: 10px 20px;
	background: #F5F4F4;
	border-radius: 8px;
}

.form-group textarea {
	position: relative;
    height: 100px;
    padding: 6px 30px;
    width: 100%;
    color: #222222;
    font-size: 16px;
    border-radius: 0px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
	border:none;
	align-items: center;
	padding: 10px 20px;
	background: #F5F4F4;
	border-radius: 8px;
}


.title-box h2, .text {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 40px;
	display: flex;
	align-items: center;
	color: #2D2522;
}


.title-box .text:after {
	content: '';
    width: 12%;
    border-bottom: solid 3px #F15C2F;
    position: absolute;
	border-radius: 3px;
    left: 14px;
    bottom: -20px;
    z-index: 1;
}

.first {
	padding-top: 40px;
}

.form-group label {
    padding: 12px 0;
}

.submit input  {
	font-family: Gilroy;
	width: 30%;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 29px;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	background:rgba(241, 92, 47, 1)!important;
}




#owl-demo {
	margin-top: 50px;
}
/* footer section */

.footer-section {
    position: relative;
    padding: 70px 0px 0px 0px ;
	background: #F5F4F4;
}

.contact_us h4 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 30px;
	color: #2D2522;
	margin-bottom: 25px;
}

.contact_location p {
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 4px;
    left: 10px;
	font-size: 16px;
}

.contact_location {
	margin: 14px 0px;
}

.social-icons a {
	padding:3px;
}

.contact_payment h4 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 30px;
	color: #2D2522;
}



.contact_payment .visa {
	padding: 24px 0px;
}

.contact_payment .master {
	position: relative;
    top: -13px;
	left: 19px;
}

.footer-orange {
    background-color: #F15C2F;
    padding: 31px 101px;
}

.footer-orange-left p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 15px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	
}

.footer-orange_right {
	text-align:end;
	color: #FFFFFF;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
}
.footer-orange_right a {
	color:  #FFFFFF;
}

.footer-orange-left strong {
	font-weight: 600;
	padding-left: 6px;
}

.footer-orange_right p {
	color:  #FFFFFF;
	position: relative!important;
}
.second-footer {
	margin-top:70px;
}




/* tags */

.tags span {
	width: fit-content;
	margin: 8px 5px;
	display:inline-block;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	align-items: center;
	text-align: center;
	color: #000000;
	background: #F5F4F4;
    border-radius: 8px;
	padding: 8px 12px;
}


.tags {
	padding-bottom: 100px;
}


/* about-us */

/* who we are */

.intro__company, .visa__company {
	padding: 190px 0 10px 0;
}

.company__link a {
	font-family: Gilroy;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 1px;
}


.company__link img {
	position: relative;
    top: 2px;
    left: 7px;
}
.company__link .home {
   color: #8D8785;
   	font-weight: 500;
}

.company__link .about {
   color: #2D2522;
   	font-weight: bold;
	padding-left: 14px;
}

.company__content{
	margin: 130px 0px 0px 0px;
}

.visa__content{
	margin: 60px 0px 0px 0px;
}

.company__text{
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #4F4F4F;
	letter-spacing: 0.5px;
	padding: 32px 0px;
}

.visa__text{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #4F4F4F;
	letter-spacing: 0.5px;
	padding: 7px 0px;
}

.visa__text p {
	padding: 10px 0;
}

.company__text_two{
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #4F4F4F;
	letter-spacing: 0.5px;
	padding: 20px 0px;
}

.services__company {
	padding: 20px 0px 74px 0px;
}
.company__text_two p{
	padding-right: 29px;
}
.company__text strong {
	color:#F15C2F;
	font-weight:bold;
}

.side__content {
	position:relative;
	margin-top: 100px;
}

.side__content-visa {
	position:relative;
	margin-top: 180px;
}

.side__content .layer {
	position:relative;
	height: auto;
	width: 100%;
	right: 17px;
}

.side__content-visa .layer {
	position:relative;
	height: auto;
	width: 100%;
	top: 25px;
    right: -3px;
}

.side__content-visa .cover {
	position:absolute;
	height: auto;
	width: 100%;
    left: 26px;
    top: -44px;
}

.side__content  .cover {
	height: auto;
	position: absolute;
    top: -25px;
    left: 2px;
}

.end__img img  {
	height: auto;
	width: 100%;
}

.gallery__row {
	padding: 36px 0px 36px 0px;
}

.detail__content {
	padding: 16px 0px;
}

.detail__content p {
	display:inline-block;
	padding-left: 8px;
}

.detail__content .earth-text {
	text-align:center;
	position: relative;
	left: 47px;
	bottom: 18px;
}

.detail__content .booking-text {
	text-align:center;
	position: relative;
	bottom: 10px;
}

.detail__content .detail__back img {
	width: 49px;
	height: 49px;
	border-radius: 50%;
	padding: 6px;
	display: inline-block;
}

.detail__back {
	position: relative;
    display: inline-block;
    top: 18px;
}

.detail__back .vector {
	background: #FFDBD0;
}
.detail__back .balloon {
	background:#FFFAD0;
}
.detail__back .bag {
	background: #D7FFD0;
}
.detail__back .car {
	background: #D0F1FF;
}

.detail__back .earth{
	background: #D0D5FF;
}

.detail__back .room {
	background: #FFD0F5;
	position: relative;
	bottom: 10px;
}

.staff__company  {
	padding: 100px 0 70px 0;
	background:#FFF4F1;
}

.visa__infos {
	/* padding: 100px 0 70px 0; */
	background:#FFF4F1;
	margin: 20px 0px 70px 0px ;
	overflow-x: hidden;

}



.staff__company h1 {
	font-style: normal;
	font-weight: bolder;
	font-size: 26px;
	line-height: 35px;
	align-items: center;
    letter-spacing: 3px;
	color: #2D2522;
	position: relative;
	padding: 20px 0;
}

.staff__company h1:after {
	content: '';
    width: 12%;
    border-bottom: solid 3px #F15C2F;
    position: absolute;
	border-radius: 3px;
    left: 0;
    top: 0;
    z-index: 1;
}

.staff__company p {
	padding: 10px 0px 0px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.staff__company .owl-dots {
	    bottom: 46px!important;
}

.staff__item {
	padding: 30px 50px;
	background: #FFFFFF;
    border-radius: 8px;
}

.staff__item img {
	border-radius: 4px;
    padding: 10px 10px 5px 10px;
}

.staff__name {
	padding:20px;
}

.staff__name h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	color: #2D2522;
	padding: 0px 0px 4px 0px;
}

.staff__name span{
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	color: #828282;
}

.skype-content .skype-add, .tel-number {
	padding-left: 25px;
	font-size: 14px;
	line-height: 19px;
	color: #2D2522;
}

.staff__contact {
	padding-left : 14px;
}

.skype-content, .mobile-content {
	margin: 10px 5px;
}

.success__img {
	 padding: 180px 0px;
	 height: auto;
	 background-size: cover;
	 background-position: bottom;
	 background-repeat: no-repeat;
	 overflow-x: hidden;
	 border: 1px solid #2D2522;
	border-radius: 8px;
}

.success__company {
	padding: 100px 0px 100px 0px;
}

.success__header {
	padding: 0px 0px 50px 0px;
}

.visa__content-text {
	display:flex;
	justify-content: space-between;
}

.visa__img {
	width: 100%;
	display:inline-block;
	border-radius: 8px;
	 background-size: contain;
	 background-position: bottom;
	 background-repeat: no-repeat;
	 overflow-x: hidden;
	 height:230px;
}


.visa__info {
	display:inline-block;
}

.visa__info h3 {
	font-style: normal;
	font-weight: bolder;
	font-size: 19px;
	line-height: 25px;
	align-items: center;
    letter-spacing: 2px;
	color: #2D2522;
	position: relative;
	padding: 19px 22px;
}

.visa__info h3:after {
	content: '';
    width: 15%;
    border-bottom: solid 3px #F15C2F;
    position: absolute;
    border-radius: 3px;
    left:19px;
    top: 10px;
    z-index: 1;
}

.visa__info p {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #4F4F4F;
	padding:0px  22px;
}

.visa__urgent {
	width:100%
}

.urgent__img {
	width: 78%;
}

.last__info {
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 23px;
	color: #4F4F4F;
	letter-spacing: 1px;
	padding: 5px 3px;
}

.last__info strong {
	font-weight: bold;
}

.visa__infos{
	position:relative;
	height: 443px;
}

.info__text strong {
	font-weight: bold;
}

.over__pic{
    height:400px;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    position: absolute;
    right: -4px;
    bottom: 11px;
    left: 76%;
}

.row__info {
	padding: 20px 0px;
}

.visa__infos p {
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
	align-items: center;
	color: #000000;
	padding: 35px 0px 0px 0px;
	position: relative;
}

.visa__infos p:after {
    content: '';
    height: 51px;
    width: 1px;
    border-left: solid 3px #F15C2F;
    position: absolute;
    border-radius: 3px;
    left: -14px;
    top: 39px;
    z-index: 1;
}

.contact__us {
	padding: 160px 10px 30px 10px;
}

.contact__row {
	padding:60px 0px;
}

.contact__us .company__link {
	padding-left: 10px;
}

.contact__row h2:after{
    content: '';
    width: 17%;
    border-bottom: solid 3px #F15C2F;
    position: absolute;
    border-radius: 3px;
    left: 15px;
    bottom: 147px;
    z-index: 1;
    padding: 10px 0px;
}

.contact__row p {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	display: flex;
	align-items: center;
	color: #4F4F4F;
	padding: 25px 0px;
}

.contact__row form {
	padding: 0px 24px;
}

.contact__us .contact-map #map {
	height: 586px!important;
	border-radius: 6px;
	position: relative;
}

.contact__us .map-info {
    padding: 20px;
    background:rgba(241, 92, 47, 1);
    top: 0;
    right: 50px;
    position: absolute;
	border-radius: 8px;
}

.contact__icon {
	display: inline-block;
    position: relative;

}

.contact__text {
	display:inline-block;
	padding-left: 4px;
}

.contact__detail {
	padding: 20px 0px 0px 0px;
}

.contact__detail span {
	padding: 0px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
}

.letter-icon {
	position:relative;
	bottom: -3px;
    left: 2px;
}

.number__text span {
	display: block;
	padding: 5px 7px;
}

.number__icon{
	position: relative;
	bottom: 17px;
	display: inline-block;
}

.map-info h4 {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	color: #FFFFFF;
}

.contact__row .social-icons{
	padding: 15px 5px 8px 5px;
}

.contact__row .follow__media {
	padding: 26px 2px 10px;
}


/* azerbaijan */


.azerbaijan .image-back {
	padding: 155px 0px 16px 0px;
	 height: auto;
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 overflow-x: hidden;
	 position: relative;
}

.map-box .mapping {
	position: relative;
    display: block;
    margin: 0 auto;
    z-index: 99;
}

.image-back:after {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.map-box .north {
	display: inline-block;
    position: absolute;
    text-align: center;
    top: 158px;
    left: 506px;
    z-index: 999;
}

.map-box .north a {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #2D2522;

}


.map-box .west a {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #2D2522;

}

.map-box .south a {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #2D2522;

}

.map-box .west {
	position: absolute;
    top: 245px;
    left: 356px;
    z-index: 999;
}

.map-box .east {
	position: absolute;
    top: 259px;
    right: 295px;
    z-index: 999;
}

.map-box .south {
    position: absolute;
    bottom: 495px;
    left: 548px;
    z-index: 999;
}

.map-box .east a {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #F15C2F;
}

.map-box .aze {
	position: absolute;
    bottom: 575px;
    left: 495px;
    z-index: 999;
}

.map-box .aze h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 41px;
	line-height: 59px;
	color: #2D2522;
}

.map-box .see-more-east {
    display: inline-block;
    bottom: 521px;
    padding: 20px;
    left: 15%;
    position: relative;
    z-index: 999;
}

.map-box .see-more-east:after {
	content: '';
    background-color: #F15C2F;
   display: inline-block;
   width: 15px;
   height: 15px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
    right: 283px;
    top: 98px;
	position: absolute;
}

.map-box .see-more-east:before {
	content: '';
    background-color: #FAB19B;;
   display: inline-block;
    width: 25px;
    height: 25px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 12.5px;
    right: 278px;
    top: 93px;
	position: absolute;
}

.see-more-east a {
	position: relative;
    bottom: 90px;
    right: 100px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #F15C2F;
}

.map-box .see-more-west {
    display: inline-block;
    bottom: 535px;
    padding: 20px;
    left: -20%;
    position: relative;
    z-index: 999;
}

.map-box .see-more-west:after {
	content: '';
    background-color: #F15C2F;
   display: inline-block;
   width: 15px;
   height: 15px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
    right: 59px;
    top: 98px;
	position: absolute;
}

.map-box .see-more-west:before {
	content: '';
    background-color: #FAB19B;;
   display: inline-block;
    width: 25px;
    height: 25px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 12.5px;
    right: 54px;
    top: 93px;
	position: absolute;
}

.see-more-west a {
	position: relative;
    bottom: 90px;
    right: 209px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #F15C2F;
}

.map-box .see-more-north {
    display: inline-block;
    bottom: 620px;
    padding: 20px;
    left: 46%;
    position: relative;
    z-index: 999;
}

.map-box .see-more-north:after {
	content: '';
    background-color: #F15C2F;
   display: inline-block;
   width: 15px;
   height: 15px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
    right: 283px;
    top: 98px;
	position: absolute;
}

.map-box .see-more-north:before {
	content: '';
    background-color: #FAB19B;;
   display: inline-block;
    width: 25px;
    height: 25px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 12.5px;
    right: 278px;
    top: 93px;
	position: absolute;
}

.see-more-north a {
	position: relative;
    bottom: 90px;
    right: 100px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #F15C2F;
}

.map-box .see-more-south {
    display: inline-block;
     bottom: 372px;
    padding: 20px;
    left: 51%;
    position: relative;
    z-index: 999;
}

.map-box .see-more-south:after {
	content: '';
    background-color: #F15C2F;
   display: inline-block;
   width: 15px;
   height: 15px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
    right: 286px;
    bottom: 107px;
	position: absolute;
}

.map-box .see-more-south:before {
	content: '';
    background-color: #FAB19B;;
   display: inline-block;
    width: 25px;
    height: 25px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 12.5px;
    right: 281px;
    bottom: 102px;
	position: absolute;
}

.see-more-south a {
	position: relative;
    bottom: 13px;
    right: 100px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #F15C2F;
}



.tabs-section {
	padding: 60px 0px 100px 0px;
}


.nav-item .nav-link,
.nav-tabs .nav-link {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

.card a {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"] i {
    -webkit-transition: transform 150ms ease 0s;
    -moz-transition: transform 150ms ease 0s;
    -o-transition: transform 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: transform 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}




.tabs-section  .nav-tabs {
    border: 0;
    padding: 15px 0.7rem;
}



.card .nav-tabs {
    border-top-right-radius: 0.1875rem;
    border-top-left-radius: 0.1875rem;
}

.nav-tabs>.nav-item>.nav-link {
    color: rgba(241, 92, 47, 1);
    margin: 0px 6px;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid  #F15C2F;;
    border-radius: 8px;
    font-size: 15px;
    padding: 12px 42px;
	font-weight: bold;
    line-height: 1.5;
}

.nav-tabs>.nav-item>.nav-link:hover {
    background-color: transparent;
}

.nav-tabs>.nav-item>.nav-link.active {
    background: #F15C2F;
    border-radius: 8px;
    color: #FFFFFF;
}


.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link {
    color: #FFFFFF;
}

.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link.active {
    background: #F15C2F;
    border-radius: 8px; ;
    color: #FFFFFF;
}

.card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.card .card-header {
    background-color: transparent;
    border-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}


.header-card h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	color: #2D2522;
	text-align: left;
	padding: 10px 0px;
}

.header-card h2:after {
    content: '';
    width: 16%;
    border-bottom: solid 3px #F15C2F;
    position: absolute;
    border-radius: 3px;
    left: 15px;
    top: -10px;
    z-index: 1;
}

.tab-inners {
	padding:15px 0px;
}

.text-card p {
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 30px;
	color: #4F4F4F;
	text-align: left;
	padding: 10px 0px;
}

.text-card .side-p {
	padding: 130px 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 30px;
	color: #4F4F4F;
	text-align: left;
}

.side-img {
	padding-bottom: 59px;
}

.side-img-top{
	padding-top: 60px;
}

.side-p-top {
	padding-top: 60px!important;
}

.side-p-last {
	padding-top: 105px!important;
}

.tab-inners img {
	padding: 41px 20px 20px 20px;
}

 .azerbaijan .company__link {
	z-index:999;
	position: relative;
} 

 .azerbaijan .company__link .home {
	 color: #FFFFFF
 }

.about__tour {
	padding:190px 0px 35px 0px;
}

.about__tour .image-layer {
	padding: 160px 309px;
	 height: auto;
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 overflow-x: hidden;
	 border-radius: 8px;
}

.about__tour .company__link {
	margin: 0px 0px 50px 0px;
}

.about__tour .intro__header {
	padding: 15px 0px;
}

.info__region .main-text {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    padding:5px 3px 40px 3px;
    text-align: left;
    align-items: center;
    color: #2D2522;
}

.info__region .main-text:after {
    content: '';
    height: 91px;
    width: 1px;
    border-left: solid 3px #F15C2F;
    position: absolute;
    border-radius: 3px;
    left: 0px;
    top: 10px;
    z-index: 1;
}

.info__region .other-text {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #4F4F4F;
	padding: 42px 0px 0px 0px;
}

.region-tour {
	padding: 0px 0px 60px 0px;
}

.error .error-inner {
	margin-top: 126px;
	 /* padding: 200px 0px; */
	 height: 420px;
	 background-size: contain;
	 background-position: top center;
	 background-repeat: no-repeat;
	 overflow-x: hidden;
}

.error-text {
    font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	color: #2D2522;
	padding: 30px 0px
}



.error{
	height:100vh;
	background:#FFF4F1;
}



.error-text strong {
	color: #F15C2F;
}




.sidenav {
  height: 100%;
  width: 250px;
  position: absolute;
  z-index: 9994;
  top: -43px;
  right: -127px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display:none;
}



.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.owl-nav button {
   outline: none;
}

.loc-i {
	position: relative;
    bottom: 15px;
    top: -9px;
}

.text-letter {
	padding-left: 16px;
}

.text-loc {
	padding-left: 10px;
}

.business-img {
	height: 186px;
    width: 100%;
}